html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

h1, p {
    padding: 0;
    margin: 0;
}

.cards {
    padding: 6px 0 18px;
}

.container {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}

.card-item {
    display: inline-block;
    width: 30%;
    padding: 50px;
}   

.icon-tablet_icon:before {
    content: "\e902";
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #1275b9;
    border: 2px solid #1275b9;
    border-radius: 50%;
    margin: 0 auto;
}

.icon-settings_icon:before {
    content: "\e901";
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #1275b9;
    border: 2px solid #1275b9;
    border-radius: 50%;
    margin: 0 auto;
}

.icon-dashboard_icon:before {
    content: "\e900";
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #1275b9;
    border: 2px solid #1275b9;
    border-radius: 50%;
    margin: 0 auto;
}

.icon-tablet_icon:hover:before, .icon-settings_icon:hover:before, .icon-dashboard_icon:hover:before {
    color: #1275b9;
    background-color: #fff;
}

.card-title {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px;
}

.card-text {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 20px;
    padding: 14px;
}